/* CSS Document */

body {
background-color:#ECF4F7;
background-repeat:repeat-x;
font-family:Verdana,"宋体";
padding-top:10px;
font-size:12px;
}
form table{
    border-collapse: separate;
    border-spacing: 0;
}
form table td{
	padding:5px
}
body#welcome_top{
	margin: 0;
	padding:0;
}
#top {
	background:url('../images/bg_top.jpg');
	height:45px;
	line-height:30px;	
}
#top .logo{
	width:210px;
}

#top .title {
color:#FF9900;
font-family:"方正大标宋简体";
font-size:24px;
}#top a {
color:#FFFFFF;
font-size:14px;
}
#top .logo,
#top .menu{
	float:left;
	
}
#top .right {
	float:rigth;
}
.index_login, .index_login a {
font-family:"宋体";
font-size:12px;
text-align:right;
}

input.input{
	width:80%;
}
#nav .left{	float:left;}
#nav .right{	float:right;}

/*#index dl{
width:48%;
min-height:225px;
float:left;
background:#f9f9f9;
margin:5px;
}*/
#channel dl dt{
height:25px;
background:#f0f0f0;
line-height:25px;
padding:0px 10px 0px 10px;
}
#channel dl dt strong{
float:left
}
#channel dl dt span{
float:right
}
#channel dl dd{
line-height:20px;
padding:0px;
margin-left:10px;
}
#channel dl dd a{
	/*display:block;*/
	height:20px;
	overflow:hidden;
	float:left;
	
	background-repeat: no-repeat;
	background-position: left top;
}
#channel dl dd span{
width:20%;
float:left;
}
#channel dl dd em{
 font-style: normal;
}

.doc dd a{
	width:75%;
	padding-left:20px;
	background-image: url(../images/tree/e.gif);
	
}
.sites dd a{
	width:80%;
	padding-left:20px;
	background-image: url(tree/e1.gif);
 

}
.adds dd a{
width:18%;
padding-left:20px;
background-image: url(tree/usergroupicon.gif);
}
.diary dd a{
width:75%;
padding-left:20px;
background-image: url(tree/b.gif);
}



.doc_title {
color:#0066CC;
display:block;
width:250px;
}
.doc_content {
background:none repeat scroll 0 0 #F9F9F9;
border:10px solid #EFEFEF;
line-height:20px;
padding:35px;
}
.doc_content h1 {
background:none repeat scroll 0 0 transparent;
border:medium none;
font-size:30px;
margin:35px auto;
text-align:center;
}
.doc_content_box {
border:1px solid #CCCCCC;
padding:5px;
margin:50px 50px;
}



.table0 {
background-color:#D5F1F9;
border-collapse:collapse;
border-color:#D5F1F9;
padding-left:5px;
padding-right:5px;
padding-top:3px;
}
.td0 td {
white-space:nowrap;
}
.table0 td, .table0 th {
border:1px solid #D5F1F9;
}
.right, .r {
text-align:right;
}
.td2 {
background-color:white;
color:black;
}
.td2alt {
background-color:#F2F2F2;
color:black;
}
#top #tabs{
	margin-top:-10px;
}
#top #tabs a{
	color:#000;
}

a.disabled {
    border: 0 none;
    color: #999999 !important;
    cursor: default;
}

.arrowLft, .arrowRit, .arrowRitSm, .arrowDownLft, .arrowDownRit, .arrowUpLft, .arrowUpRit {
	background:url(../images/common/site/arrows.png) no-repeat!important;
}
.arrowLft {
	background-position:0 0!important;
	padding:2px 0 2px 11px!important;
}
.arrowRit {
	background-position:right -40px!important;
	padding:2px 11px 2px 0!important;
}
.arrowRitSm {
	background-position:right -555px!important;
	padding:2px 11px 2px 0!important;
}
.arrowDownSmlRit {
	background:url(../images/common/site/arrowsSml.png) no-repeat!important;
}
.arrowDownSmlRit {
	background-position:right -36px!important;
	padding:0 10px 0 0!important;
}

.podPurple .arrowLft, .podPurple .arrowRit {
	color:#681646;
}
.podPurple .arrowLft {
	background-position:0 -80px;
}
.podPurple .arrowRit {
	background-position:right -120px!important;
}
.podDownload .arrowLft, .podDownload .arrowRit {
	color:#CE5119;
}
.podDownload .arrowLft {
	background-position:0 -160px;
}
.podDownload .arrowRit {
	background-position:right -200px!important;
}
.podMyShockwave .arrowLft, .podMyShockwave .arrowRit, .tabsMyShockwave .arrowRit {
	color:#426700;
}
.podMyShockwave .arrowLft {
	background-position:0 -240px;
}
.podMyShockwave .arrowRit {
	background-position:right -280px!important;
}
.arrowDownLft, .arrowUpLft {
	background-position:0 -398px!important;
	padding:0 0 0 20px!important;
}
.arrowUpLft {
	background-position:0 -438px!important;
}
.arrowDownRit, .arrowUpRit {
	background-position:right -398px!important;
	padding:0 20px 0 0!important;
}
.arrowUpRit {
	background-position:right -438px!important;
}
.arrowLft.disabled, .carousel .carousel-nav-left a.disabled {
	background-position:left -320px!important;
}
.arrowRit.disabled, .carousel .carousel-nav-right a.disabled {
	background-position:right -360px!important;
}
.arrowLftLrg, .arrowRitLrg {
	background:url(../img/common/site/arrowsLrg.png) no-repeat!important;
}
.arrowLftLrg {
	background-position:0 7px!important;
	padding:10px 0 10px 22px!important;
}
.arrowRitLrg {
	background-position:right -33px!important;
	padding:10px 22px 10px 0!important;
}
.arrowLftLrg.disabled, #podGameTrophies .carousel .carousel-nav-left a.disabled {
	background-position:left -73px!important;
}
.arrowRitLrg.disabled, #podGameTrophies .carousel .carousel-nav-right a.disabled {
	background-position:right -113px!important;
}



.pag {
	padding:6px 0;
	background:#fff;
}
.pag span {
	padding-left:7px;
}
.pag .pagLftNav, .pag .pagRitNav {
	float:left;
	width:12%;
}
.pag .pagRitNav {
	float:right;
	text-align:right;
	padding:0;
}
.pag .pagRitNav a {
	margin-right:7px;
}
.pag .pagRitNav a, .pag .pagLftNav a {
	color:#003D7B;
}
.pag .pagRitNav a.arrowRit {
	background-position:right -40px!important;
}
.pag .pagRitNav a.arrowRit.disabled {
	background-position:right -360px!important;
}
.pag .pagNums {
	text-align:center;
}
.pag .pagNums span {
	padding:0 3px;
}
.pag .pagNums span a {
	background:#fff;
	padding:1px 4px;
	color:#045CB6!important;
	border:1px solid #ccc;
}
.pag .pagNums span a.disabled {
	background:#666;
	color:#fff!important;
}
.pag .pagNums span a.showAll {
	background:none;
	color:#045CB6!important;
	padding:0;
	border:none;
}
.pagBot {
	border-top:1px solid #ccc;
	margin-top:5px;
}
.pagTop {
	/*border-bottom:1px solid #ccc;*/
	margin-bottom:15px;
}
#comment ,#submit_comment{
	margin:auto;
	width:90%
}

#comment ul li{

	list-style:none;
	border:none;
	border-bottom: 1px solid #CCC
}#comment ul,
#face_menu ul{
	padding:0;
	margin:0;
}
    input.placeholder {color:#999}  